/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #FFF;
  --black: #000;

  /* Gray scale */
  --gray-50: #e6e6e6;
  --gray-100: #cccccd;
  --gray-200: #b3b3b5;
  --gray-300: #99999c;
  --gray-400: #808083;
  --gray-500: #66676a;
  --gray-600: #4d4d51;
  --gray-700: #333439;
  --gray-800: #1a1a20;
  --gray-900: #000107;

  --primary: #70BC63;
  --accent-1: #DB5922;
  --accent-2: #FAAD0E;

  --text-light: var(--gray-900);
  --text-dark: var(--gray-50);

  --section-padding: 0.8rem 2rem;
  
}

/* semantic color variables for this project */
:root {
  --background: var(--white);
  --surface: var(--gray-100);
  --text: var(--text-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-900);
    --surface: var(--gray-800);
    --text: var(--text-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
